[submodule "External/FreeRTOS-Kernel"]
	path = External/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "External/microhttp"]
	path = External/microhttp
	url = https://github.com/leak-guard/microhttp.git
[submodule "External/stm32/stm32f4xx-hal-driver"]
	path = External/stm32/stm32f4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f4xx-hal-driver
[submodule "External/stm32/cmsis-device-f4"]
	path = External/stm32/cmsis-device-f4
	url = https://github.com/STMicroelectronics/cmsis-device-f4
[submodule "External/stm32/cmsis-core"]
	path = External/stm32/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core
