[submodule "External/FreeRTOS-Kernel"]
	path = External/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "External/microhttp"]
	path = External/microhttp
	url = https://github.com/leak-guard/microhttp.git
